@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .text-outline {
    /* Define thickness and color (using currentColor for easier dark mode support) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: currentColor;
    color: transparent; /* Makes the inside of the text transparent */
  }
}